aioredis==1.3.1
amqp==2.5.2
asgiref==3.2.7
asn1crypto==1.3.0
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
beautifulsoup4==4.11.1
billiard==3.6.3.0
celery==4.4.2
certifi==2020.4.5.1
cffi==1.15.1
channels==2.4.0
channels-redis==2.4.2
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
daphne==2.5.0
defusedxml==0.6.0
descartes==1.1.0
diazo==1.4.0
Django==3.0.6
django-braces==1.14.0
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-configurations==2.2
django-cors-headers==3.2.1
django-dotenv==1.4.2
django-extensions==2.2.9
django-guardian==2.2.0
django-oauth-toolkit==1.3.2
django-redis-sessions==0.6.1
django-rest-framework-social-oauth2==1.1.0
django-timezone-field==4.0
djangorestframework==3.11.0
djangorestframework-bulk==0.2.1
djangorestframework-gis==0.15
docopt==0.6.2
entrypoints==0.3
filemagic==1.6
Fiona==1.8.21
flake8==3.7.9
future==0.18.2
geopandas==0.11.1
gunicorn==20.0.4
hiredis==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
Jinja2==3.1.2
kiwisolver==1.2.0
kombu==4.6.8
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.2.1
mccabe==0.6.1
msgpack==0.6.2
msgpack-python==0.5.6
munch==2.5.0
nose==1.3.7
numpy==1.23.3
oauthlib==3.1.0
packaging==21.3
pandas==1.5.0
Pillow==7.1.2
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pydap @ git+https://github.com/rbeucher/pydap.git@16bf193203af83447bd37b07a693f225a7676795
pyflakes==2.1.1
PyHamcrest==2.0.2
pyjq==2.6.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyproj==3.4.0
python-crontab==2.4.2
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2020.1
redis==3.5.1
requests==2.23.0
requests-oauthlib==1.3.0
service-identity==18.1.0
Shapely==1.8.4
six==1.14.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
soupsieve==2.3.2.post1
sqlparse==0.3.1
threddsclient==0.4.2
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.9
vine==1.3.0
WebOb==1.8.7
xmltodict==0.12.0
zope.interface==5.1.0
