# docker compose file that can be used for development purposes only
# - do not use this in production!
#
# Modifications done:
# - directly provides most of the environment variables in the file, not
#   caring to protect potentially sensitive ones
# - exposes some unneeded ports to the host system, which is useful for
#   dev, testing and debugging
# - mounts code repository inside the relevant container as a bind volume

services:

  webapp:
    image: "ghcr.io/geobeyond/arpav-ppcv-backend/arpav-ppcv-backend:${CURRENT_GIT_BRANCH:-latest}"
    environment:
      ARPAV_PPCV__DEBUG: true
      ARPAV_PPCV__BIND_HOST: 0.0.0.0
      ARPAV_PPCV__BIND_PORT: 5001
      ARPAV_PPCV__PUBLIC_URL: http://localhost:5001
      ARPAV_PPCV__DB_DSN: postgresql://arpav:arpavpassword@db:5432/arpav_ppcv
      ARPAV_PPCV__TEST_DB_DSN: postgresql://arpavtest:arpavtestpassword@test-db:5432/arpav_ppcv_test
      ARPAV_PPCV__LOG_CONFIG_FILE: /home/appuser/app/dev-log-config.yml
      ARPAV_PPCV__DJANGO_APP__DB_DSN: postgres://postgres:postgres@legacy-db:5432/postgres
      ARPAV_PPCV__DJANGO_APP__THREDDS__PORT: 8081
      ARPAV_PPCV__DJANGO_APP__REDIS_DSN: redis://redis:6379
      ARPAV_PPCV__DJANGO_APP__SECRET_KEY: some-dev-key
      ARPAV_PPCV__THREDDS_SERVER__BASE_URL: http://thredds:8080/thredds
      ARPAV_PPCV__THREDDS_SERVER__DATASETS: >
        {
          "uncertainty_test_giovanni": {
            "thredds_url_pattern": "tests/giovanni-sample/tas_avgagree_anom_tw2_rcp26_DJF_VFVGTAAn.nc",
            "palette": "uncert-stippled/seq-YlOrRd",
            "range": [1, 6]
          },
          "uncertainty_test": {
            "thredds_url_pattern": "tests/test-script-agree.nc",
            "palette": "uncert-stippled/seq-YlOrRd",
            "range": [1, 6]
          },
          "tas_absolute": {
            "thredds_url_pattern": "ensymbc/tas_avg_{scenario}_{year_period}_ts19762100_ls.nc",
            "allowed_values": {
              "scenario": [
                "rcp26",
                "rcp45",
                "rcp85"
              ],
              "year_period": [
                "winter",
                "spring",
                "summer",
                "autumn"
              ]
            },
            "unit": "ºC",
            "palette": "default/seq-YlOrRd",
            "range": [-3, 32]
          },
          "tas_anomaly": {
            "thredds_url_pattern": "ensembletwbc/tas_avg_anom_{time_window}_{scenario}_{year_period}.nc",
            "allowed_values": {
              "time_window": ["tw1", "tw2"],
              "scenario": ["rcp26"],
              "year_period": ["annual"]
            },
            "unit": "ºC",
            "palette": "seq-YlOrRd",
            "range": [0, 6]
          }
        }
    ports:
      - target: 5001
        published: 5001
    volumes:
      - type: bind
        source: $PWD
        target: /home/appuser/app
      - type: bind
        source: $HOME/data/geobeyond/arpav-ppcv/datasets
        target: /home/appuser/data/datasets
      - type: bind
        source: $HOME/data/geobeyond/arpav-ppcv/netcdf-uncertainty-example
        target: /home/appuser/data/additional

  legacy-db:
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - target: 5432
        published: 55433
    volumes:
      - legacy-db-data:/var/lib/postgresql/data
    # The below command adds a more verbose logging of operations - DON'T USE THIS IN PRODUCTION!
    # The server's performance is impacted by this command. Moreover, logged statements may contain
    # sensitive information
    command: "-clog_statement=all"

  db:
    environment:
      POSTGRES_USER: arpav
      POSTGRES_PASSWORD: arpavpassword
      POSTGRES_DB: arpav_ppcv
    ports:
      - target: 5432
        published: 55432
    volumes:
      - db-data:/var/lib/postgresql/data
    # The below command adds a more verbose logging of operations - DON'T USE THIS IN PRODUCTION!
    # The server's performance is impacted by this command. Moreover, logged statements may contain
    # sensitive information
    command: "-clog_statement=all"

  test-db:
    image: "postgis/postgis:16-3.4"
    # The below command adds a more verbose logging of operations - DON'T USE THIS IN PRODUCTION!
    # The server's performance is impacted by this command. Moreover, logged statements may contain
    # sensitive information
    command: "-clog_statement=all"
    ports:
      - target: 5432
        published: 55434
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: arpavtest
      POSTGRES_PASSWORD: arpavtestpassword
      POSTGRES_DB: arpav_ppcv_test
    volumes:
      - test-db-data:/var/lib/postgresql/data

  thredds:
    image: unidata/thredds-docker:5.4
    ports:
      - target: "8080"
        published: "8081"
    environment:
      TDS_CONTENT_ROOT_PATH: /usr/local/tomcat/content
      TDS_PW: "arpavppcvthredds"
      TDS_HOST: "http://localhost:8081"
    volumes:
      - type: bind
        source: $PWD/docker/thredds/content-root/catalog.xml
        target: /usr/local/tomcat/content/thredds/catalog.xml
      - type: bind
        source: $PWD/docker/thredds/content-root/catalog_rcm.xml
        target: /usr/local/tomcat/content/thredds/catalog_rcm.xml
      - type: bind
        source: $PWD/docker/thredds/content-root/threddsConfig.xml
        target: /usr/local/tomcat/content/thredds/threddsConfig.xml
      - type: bind
        source: $PWD/docker/thredds/content-root/wmsConfig.xml
        target: /usr/local/tomcat/content/thredds/wmsConfig.xml
      - type: bind
        source: $HOME/data/geobeyond/arpav-ppcv/datasets
        target: /datasets
      - type: bind
        source: $HOME/data/geobeyond/arpav-ppcv/netcdf-uncertainty-example
        target: /additional

  martin:
    ports:
      - target: 3000
        published: 3000
    environment:
      DATABASE_URL: postgres://postgres:postgres@legacy-db/postgres
      RUST_LOG: actix_web=info,martin=debug,tokio_postgres=debug

volumes:
  db-data:
  test-db-data:
  legacy-db-data:
